Source: qcom-sensors-service
Section: utils
Priority: optional
Maintainer: Zhanye Lin <zhanlin@qti.qualcomm.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 libprotobuf-dev,
 qcom-dspservices-headers-dev, qcom-sensing-hub-dev, qcom-sensors-utils-dev, libbsd-dev, qcom-sensors-utils, qcom-sensors-registry, qcom-sensors-lookup, qcom-sensors-core, qcom-sensors-services-dev, qcom-sensors-api-dev
Standards-Version: 4.6.2
Homepage: http://support.cdmatech.com

Package: qcom-sensors-service
Architecture: arm64
Depends: ${shlibs:Depends},${misc:Depends}
Description: Qualcomm sensor service utility
