# Copyright (c) 2024 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
[Unit]
Description=sensor service
SourcePath=/sbin/start-stop-daemon
After=adsprpcd.service cdsprpcd.service sscrpcd.service

[Service]
Type=forking
Restart=always
RestartSec=10
StartLimitIntervalSec=0
ExecStartPre=/bin/sleep 0.2
ExecStart=start-stop-daemon -S -b -x /usr/bin/sensor_service
ExecStop=start-stop-daemon -K -n sensor_service

[Install]
WantedBy=multi-user.target