# @copyright
# Copyright (c) 2020 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.


TargetImage Configuration/stone.bmp
TargetWidth 0.411
TargetHeight 0.287

# OAKStereoCamera.yaml / OAKStereoIMU.yaml were for a different (OAK-D) rig.
# This rig is a RealSense D455 read as a stereo pair (Infrared 1 = left,
# Infrared 2 = right); see InputStereoCameraROS2's kLeftImageTopic/kRightImageTopic.
#Camera Configuration/OAKStereoCamera.yaml
#IMU    Configuration/OAKStereoIMU.yaml
Camera Configuration/D455_infra_stereo.yaml
IMU    Configuration/D455_stereo_IMU.yaml

####################################################################################
# No wheel odom on this rig: WEF.Tvb/WEF.Rvb commented out so ParseSensorParam
# leaves wheelConfiguration.wheelEnabled = false (see vslam.cfg for the same pattern).
# relative translation of frame Baselink in frame VSLAM (m)
# WEF.Tvb      0.0528589  0.3372562 -0.2754942

# relative rotation of frame Baselink in frame VSLAM (rad)
# WEF.Rvb     0.2800   -1.4715    1.2587

 footprintSize 0.7