# @copyright
# Copyright (c) 2020 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.


TargetImage Configuration/stone.bmp
TargetWidth 0.411
TargetHeight 0.287

Camera Configuration/OAKStereoCamera.yaml
IMU    Configuration/OAKStereoIMU.yaml

####################################################################################
# relative translation of frame Baselink in frame VSLAM (m)
 WEF.Tvb      0.0528589  0.3372562 -0.2754942

# relative rotation of frame Baselink in frame VSLAM (rad)
 WEF.Rvb     0.2800   -1.4715    1.2587

 footprintSize 0.7