# @copyright
# Copyright (c) 2020 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

#Relative path of the map to the working directory
MapPath map
#Map Name 
MapName 8009Map
#Maximum key frame number
MaxKeyFrame          20000

# Target-less parameters
#The number of continuous tracking failed frame to re-initialize the VSLAM map
FailVSLAMPoseNumToStartTargetless    50

#TARGET_INIT TARGETLESS_INIT RELOCALIZATION RELOCALIZATION_DEPTH STEREO_ONLY DEPTH_INIT DEPTHW_INIT STEREOW_INIT
VSLAMIniMode STEREOW_INIT

#Enable loop closure detection or not
loopClosureEnabled     1

#Enable wheel or not
wheelEnabled         1

#Keep only the current local sub-map or the whole map in memory
onlyVisibleKFImageInMemory  0
# 1: try to relocate and initializate simultaneously
alwaysOnRelocation     0

#Use the ground robot assumption, reject the poses not satisfied the constraints
#roll and pitch constraint are in radian, height in meter
useExternalConstraint	 1
heightConstraint	 0.3
rollConstraint	 	 0.5
pitchConstraint	 	 0.5

# 1: treat vslamPose with Bad state as Fail; 0: Bad is not Fail
vslamStateBadAsFail  0

#The oldest key frame will be removed whose distance to current robot location is larger than the removalRadius (in meter)
# > 10000 means the keyframe removal function is disabled
removalRadius     3

#Planar motion constraints, 1 enabled, 0 disabled
inXYPlaneRotationConstraint       0

#Enable IMU processing or not
IMUEnabled      1
