# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# All rights reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

Camera Configuration/ov9282_Camera.yaml
IMU    Configuration/icm42688_IMU.yaml
#ConfigPath Configuration
ConfigPath .
