# @copyright
# Copyright (c) 2020 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.


Camera Configuration/D435_Camera_0308.yaml
IMU    Configuration/D435_IMU_0308.yaml
#ConfigPath Configuration
ConfigPath /data/misc/vwslam/Configuration


